  <div class="table">
    <nz-table  #basicTable [nzData]="issues">
      <thead>
        <tr>
          <th>issueNo</th>
          <th>type</th>
          <th>title</th>
          <th>description</th>
          <th>priority</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.issueNo}}</td>
          <td>{{data.type}}</td>
          <td>{{data.title}}</td>
          <td>
              {{data.description}}
          </td>
          <td>
            <nz-alert [nzType]="data.priority == 'high' ? 'error' : 'info'" [nzMessage]="data.priority">
            </nz-alert>
          </td>
         
        </tr>
      </tbody>
    </nz-table>
  </div>